html, body{
    min-height: 100vh;
    background-color: rgb(172, 172, 172);
}

*{
    margin: 0px;
    padding: opx;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
}

h1{
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 1px;
}

section p{
    line-height: 2em;
    margin-left: 30px;
    margin-bottom: 10vh;
   
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem{
    background-color: rgb(54, 54, 54);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 500px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}